<a href="<%= root_path %>" class="mx-auto text-l md:text-l font-bold items-center flex space-x-3">
  <%= render 'shared/logo', class: 'w-9 h-9 md:w-12 md:h-12' %>
  <span><%= Docuseal.product_name %></span>
</a>
