<div class="mt-2 mb-1">
  <% if Docuseal.config.sms_delivery_method.present? %>
    <%= button_to submitter.sent_at? ? t('re_send_sms') : t('send_sms'), 
                  send_sms_submission_submitter_path(@submission, submitter), 
                  method: :post, 
                  class: 'btn btn-sm btn-primary w-full' %>
  <% else %>
    <div class="tooltip w-full" data-tip="Configure SMS Gateway in settings to enable">
      <button class="btn btn-sm btn-primary btn-disabled w-full"><%= t('send_sms') %></button>
    </div>
  <% end %>
</div>